// Fonts
$primaryFont: Roboto, sans-serif;

// Esquema de cores
$backgroundColor: #f5f6fa;
$primaryColor: #182C61;
$secundaryColor: #44bd32;
$fontColor: #fff;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;